{% extends 'base.html' %}

{% load static %}

{% block title %}User search{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
        <h5 class="profile-header">
            {% block card-header %}Results for "{{ query|default:"" }}"{% endblock %}
        </h5>
        <form class="user-search-form" method="GET" action="{% url 'users' %}">
            <input class="form-control user-search-box" type="text" name="q" placeholder="Search users...">
        </form>
    </div>
    <div class="card-body p-0">
        <div class="col p-0">           
            {% for user in users %}
            <div class="row m-0 p-3 border-top friendlist-entry">
                <div class="col">
                    <img class="comment-pic" src="{{ user.get_profile_pic }}">
                </div>
                <div class="col my-auto">
                    <a href="{% url 'profile' user.user.pk %}"> {{ user }}</a> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock content %}
